/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    .bg-blue {
        background-color: #0C1E31;
    }

    .color-blue {
        color: #0C1E31;
    }

    .bg-pink {
        color: #EFD1C9;
    }

    .color-pink {
        color: #EFD1C9;
    }

}